@import "tailwindcss";

@layer utilities {
    .media-slider {
        -webkit-appearance: none;
        appearance: none;
        height: 0.25rem;
        border-radius: 0.125rem;
        outline: none;
        transition: height 0.25s;
    }

    .media-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        transition: opacity 0.25s;
    }

    .media-slider-red::-webkit-slider-thumb {
        background: #065fd4;
    }

    .media-slider-white::-webkit-slider-thumb {
        background: #ffffff;
    }
}