@import "tailwindcss";

.media-slider {
    -webkit-appearance: none;
    appearance: none;
    height: 0.25rem;
    border-radius: 0.125rem;
    outline: none;
    transition: height 0.25s;
}

.media-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    transition: opacity 0.25s;
}

.media-slider-red::-webkit-slider-thumb {
    background: #007fff;
}

.media-slider-white::-webkit-slider-thumb {
    background: #ffffff;
}

video::-webkit-media-text-track-container {
    transition: transform 0.3s ease;
}

video.controls-visible::-webkit-media-text-track-container {
    transform: translateY(-2.75rem);
}

video::cue {
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
    font-family: sans-serif;
    color: white;
    text-shadow: 0 1px 2px black;
}